
*, *::after, *::before {
  box-sizing: border-box;  
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  height: 100vh;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  text-decoration: none;
  text-transform: none;
  font-family: Helvetica Now,Helvetica,Arial,sans-serif;
}

button {
  font-weight: 700;
  padding: 1rem 2rem;
  text-transform: uppercase;
  text-align: center;
  align-items: center;
  border: none;
}

h1 {
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 2rem;
}


.underlineLink {
  font-weight: 400;
  font-size: .75rem;
  line-height: 1.125rem;
  text-decoration: none;
  text-transform: uppercase;
  border: 0;
  border-bottom: 1px solid currentColor;
  color: #4e4c4b;
  margin: 2em;
}

/* HEADER */

header {
  border-bottom: 1px solid #E2E8F0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 2em;
}


.nav-item {
  display: flex;
  font-weight: 400;
  font-size: .75rem;
  line-height: 1.3125rem;
  text-decoration: none;
  text-transform: none;
  color: #4e4c4b;
  justify-content: flex-start;
}

.nav-link{
  display: flex;
  font-size: 1.5em;
  font-weight: 400;
  color: black;
  text-decoration: none;
  justify-content: flex-start;
  padding: 1em;

}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
}

/* input search */
input[type=text] {
  top: 0;
  left: 0;
  width: 100%;
  height: 44px;
  min-height: 44px;
  padding-left: 3.5rem;
  border: 1px solid #bbb;
  margin-top: 1em;
  background-image: url(../images/search.png);
  line-height: 3em;
  background-color: white;
  appearance: none;
  background-repeat: no-repeat;
  background-size: 2em auto;
  background-position: .75em center;
} 

@media only screen and (max-width: 768px) {
  .nav-menu {
      position: fixed;
      left: -100%;
      top: 5rem;
      flex-direction: column;
      background-color: #fff;
      width: 80%;
      border-radius: 10px;
      text-align: center;
      transition: 0.3s;
      box-shadow:
          0 10px 27px rgba(0, 0, 0, 0.05);
  }
  
  .nav-menu.active {
    left: 0;
    top: 0;
    height: 100vh;
    background: #f5f5f5;
  }

  .nav-item {
      margin: 2.5rem 0;
  }

  .nav-link {
    padding: 0;
    margin: 0;
}
  .hamburger {
      display: block;
      cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

}

.saleBanner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
  background-color: black;
  padding: .5em;
}

.saleBanner a {
  font-size: small;
  margin-left: 1em;
  color: white;
}

.saleBanner p {
  font-size: small;
  margin-left: 1em;
  color: white;
}

/* MAIN */

main{
  display: flex;
  flex-direction: column;
}

section{
  background-image: none;
  border-bottom: 1em grey;
}

.winterSale {  
  background-image: url("../images/section1.jpg");  
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.splitboardSection {  
  background-image: url("../images/section2.jpg");  
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin: 2em;
  padding: 2em;

}

.thirdSection {  
  background-image: url("../images/section10.jpg");  
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


article{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  color: white;
}


.winterSaleArticle{
  text-align: left;
  padding: 2em;
}

.splitboardArticle {
  padding: 2em;
  color: black;
  text-align: right;
  
}

.thirdArticle {
  padding: 2em;
}

/* FOOTER */


/* Email form */
.contactFooter{
  padding: 2em 0em 2em 0em;
  margin: 2em 0em 2em 0em;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;

}

form {
  margin: 2em;
  color: #4e4c4b;
  display: flex;
  flex-flow: row wrap;
}

label{
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin: 6.4px;
  padding: 8px;
  color: #4e4c4b;
}

input[type=email] {
  cursor: text;
  box-sizing: border-box;
  display: block;
  height: 4em;
  padding-bottom: 0.9375em;
  padding-left: 1em;
  padding-right: 3.25em;
  padding-top: 0.9375em;
  width: 24em;
  background-image: url("../images/email.png");
  background-repeat: no-repeat;
  background-size: 3em;
  background-position: right;
  border-color: rgb(187, 187, 187);
  border-style: solid;
  border-width: 1px;
  border-radius: .25em;
}

/* footernav */
.footerNavSection {  
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}


.footerBox{
  padding-left: 1em;
  margin-left: 1em;
}

.footerBox li{
  text-decoration: none;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1em 6px 1em 0px;

}

footer li a {
  font-weight: 400;
  font-size: .75rem;
  line-height: 1.3125rem;
  text-decoration: none;
  text-transform: none;
  color: #4e4c4b;

}

.footerNav {
  font-weight: 700;
  font-size: .875rem;
  line-height: 1.3125rem;
  text-decoration: none;
  text-transform: none;
  padding: 1em 6px 1em 0px;

}

.imgBox{
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: center;
}

#ccLogo{
  max-width: 100%;
  max-height: 100%;
}

.bottomRow{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.smBox{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.smBox a{
  padding: .5em;
  font-size: 1.5em;
  text-align: center;
  text-decoration: none;
  margin: 0.5em;
  border-radius: 50%;
  border: solid 0.1em;
  background: rgba(61,124,125,0);
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  color: grey;
}

.fa-twitter {
  color: grey;
}

.fa-youtube {
  color: grey;
}

.fa-instagram {
  color: grey;
}

.fa-pinterest {
  color: grey;
}

.languageBox{
  display: flex;
  flex-direction: row;
  height: 1em;
  margin: 1em;
  width: 35%;
  
}

.languageBox a{
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 1.2em;
  line-height: 1em;
}

#dutchFlag{
  max-width: 100%;
  max-height: 100%;
}

.linkYear{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-grow: 1;
  
  height: 1em;
  text-decoration: none;
  color: black;
  padding: 1em;
  font-weight: 400;
  font-size: .75rem;
  line-height: 1.3125rem;
  text-decoration: none;
  text-transform: none;
  color: #4e4c4b;
}

.LinkExtra{
  padding: 1em;
}

.LinkExtra li{
  font-weight: 400;
  font-size: .75rem;
  line-height: 1.125rem;
  text-decoration: none;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  width: 100%;
  padding: .5em 0em 0.5em 0em;
  color: #4e4c4b;
}

/* for mobile screen view */

@media screen and (max-width: 660px) {
	.footerBox {
		width: 80%;
	}
  footer ul {
    flex-direction: row wrap;
    width: 25%;
  }
  .fifthSection {
    flex-flow: column nowrap;
  }
}


/* CONTACT PAGE */


.contactHeader{
  font-size: 700;
  color: #4e4c4b;
  margin-top:4em 0em 4em 0em;
  display: flex;
  flex-direction: column;
  height: 15rem;
  align-items: center;
  justify-content: center;
}

.contactSection{
  display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: #fff;
    border: 1px solid #e5e5e5;
    padding: 1.5rem;
}

.contactSection form {
  display: flex;
  flex-direction: column;
}

.contactSection form select{
  padding: 1em;
  margin-bottom: 1em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border-color: rgb(187, 187, 187);
  border-style: solid;
  border-width: 1px;
  border-radius: .25em;
}

.contactSection form input[type=text], input[type=email]{
  padding: 1em;
  margin-bottom: 1em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-decoration: none;
  background-image: none;
  
}

.contactSection form textarea{
  padding: 1em;
  margin-bottom: 1em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-decoration: none;
  background-image: none;
  border-color: rgb(187, 187, 187);
  border-style: solid;
  border-width: 1px;
  border-radius: .25em;
  font-family: Helvetica Now,Helvetica,Arial,sans-serif;
  color: #4e4c4b;
}

.contactSection button:hover {
  opacity: 0.6;
  transition: 0.5s;
}

  /* add style for button text */
  .contactSection button[type=submit] {
  background: #3d7c7d;
  color: white;
  font-size: 1em;
  font-family: 'Poppins', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 3em;
}

.contactSection button[type=button] {
  background: #3d7c7d;
  color: white;
  font-size: 1em;
  font-family: 'Poppins', Tahoma, Geneva, Verdana, sans-serif;
}

