
*, *::after, *::before {
  box-sizing: border-box;  
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  height: 100vh;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  text-decoration: none;
  text-transform: none;
  font-family: Helvetica Now,Helvetica,Arial,sans-serif;
  margin-top: 4.5em;

}

button {
  font-weight: 700;
  padding: 1rem 2rem;
  text-transform: uppercase;
  text-align: center;
  align-items: center;
  border: none;
}

h1 {
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 2rem;
}

h3 {}

a {}

.underlineLink {
  font-weight: 400;
  font-size: .75rem;
  line-height: 1.125rem;
  text-decoration: none;
  text-transform: uppercase;
  border: 0;
  border-bottom: 1px solid currentColor;
  color: #4e4c4b;
}

/* HEADER */



header{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

}

.topnav{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 4.5em;
  padding: 0 .75rem;
  border-bottom: 1px solid #e5e5e5;
  background: #fff;
}

/* hamburger menu */
.hamburger {
  display: inline-block;
  cursor: pointer;
  margin-left: 1em;
}

.bar1, .bar2, .bar3 {
  width: 2em;
  height: 0.13em;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translateX(85%);
  transform: rotate(-45deg) translateX(85%);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-5px, -5px);
}


#cart{
  width: 2em;
  height: 2em;
  margin-right: 1em;
  
}

/* input search */
input[type=text] {
  top: 0;
  left: 0;
  width: 100%;
  height: 44px;
  min-height: 44px;
  padding-left: 3.5rem;
  border: 1px solid #bbb;
  background-image: url("../images/search.png");
  line-height:3em;
  background-color:white;
  appearance:none;
  background-repeat:no-repeat;
  background-size:2em auto;
  background-position:.75em center;
  
}

nav {
  display: none;
  position: relative;
}

nav a {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background: black;
  color: white;
  transform: translateY(-100%);
  transition: transform 0.2s;
  list-style: none;
  padding-top: 4rem;
}

.showNav {
  transform: translateY(0);
}


/* MAIN */

main{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

}

section{
  background-image: none;
}

.firstSection {  
  background-image: url("../images/section1.jpg");  
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}

.secondSection {  
  background-image: url("../images/section2.jpg");  
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin: 2em;
  padding: 2em;

}

.thirdSection {  
  background-image: url("../images/section10.jpg");  
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 2em;

}


article{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  width: 100%;
  color: white;
}


.firstArticle {
  text-align: left;
  padding: 2em;
}

.secondArticle {
  padding: 2em;
  color: black;
  text-align: right;
  
}

.thirdArticle {
  padding: 2em;
}

/* FOOTER */

form {

  width: 100%;
  margin: 2em;
  color: #4e4c4b;
  text-align: center;
  
}

label{
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 6.4px;
  padding-bottom: 8px;
  color: #4e4c4b;
}

input[type=email] {
  cursor: text;
  box-sizing: border-box;
  display: block;
  height: 4em;
  padding-bottom: 0.9375em;
  padding-left: 1em;
  padding-right: 3.25em;
  padding-top: 0.9375em;
  width: 24em;
  background-image: url("../images/email.png");
  background-repeat: no-repeat;
  background-size: 3em;
  background-position: right;
  border-color: rgb(187, 187, 187);
  border-style: solid;
  border-width: 1px;
  border-radius: .25em;


}


.footerLink {
  max-width: 24em;
  padding: 0 1.5rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

footer {
  display: flex;
  flex-direction: column;
}

.nav-footer {
  padding-top: 4.375em;
  padding-bottom: 4.375em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footerBox {
  margin-left: 2.5em;
  margin-right: 1.25em;
}

}
.fourthSection{  
  padding: 2em;
  background-image: none;  
  display: flex;


}

.fifthSection {  
 padding: 2em;
}


